<html>
  <head>
    <title>CV</title>
    <meta charset="utf-8">
    <style>
      <%= css %>
    </style>
  </head>
  <body>
    <div id="base">
      <h1><%= name %></h1>
      <div class="personal-info">
        <% if email %><%= email %></br><% end %>
        <% if location %><%= location %></br><% end %>
        <% if address %><%= address %></br><% end %>
        <% if phone %><%= phone %></br><% end %>
        <% if homepage %><a href="<%= homepage %>"><%= homepage %></a></br><% end %>
        <% if github %><a href="<%= github %>"><%= github %></a></br><% end %>
        <% if blog %><a href="<%= blog %>"><%= blog %></a></br><% end %>
      </div>
      <div style="clear:both;"></div>

      <% groups.each do |group| %>
        <div class="flexbox <%= group.type %>">
          <div class="group-title">
            <h3> <%= group.name %> </h3>
          </div>
          <div class="group">
            <% group.items.each do |item| %>
              <div class="item">
                <b class="title"><%= item.title %></b>
                <% if item.company %> - <%= item.company %> <% end %>
                <% if item.homepage %>
                  <div class="homepage">
                    <a href="<%= item.homepage %>"><%= item.homepage %></a>
                  </div>
                <% end %>
                <% if item.technologies %>
                  <p class="technologies">
                    <%= item.technologies %>
                  </p>
                <% end %>
                <p><%= item.description %></p>
                <% if item.bulletins %>
                  <ul>
                    <% item.bulletins.each do |bulletin| %>
                      <li><%= bulletin %></li>
                    <% end %>
                  </ul>
                <% end %>
                <div class="time-span">
                  <%= item.start_date %>
                  <% if item.end_date %> - <%= item.end_date %> <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>


