<h1><%= name %></h1>
<h2><%= email %></h2>

<% groups.each do |group| %>
  <h3> <%= group.name %> </h3>
  <% group.items.each do |item| %>
    <hr>
    <%= item.position %> <br/>
    <%= item.description %>
  <% end %>
<% end %>


