<html>
  <head>
    <title>CV</title>
    <style>
      @media screen {
        body {
          padding: 0 10em 5em;
        }
      }
      body {
        font-family: helvetica;
        color: #333;
      }
      h1, h2, h3, .title {
        font-family: helvetica;
        color: #000;
      }
      h1 {
        margin-top: 20px;
        float: left;
        font-size: 50px;
      }
      h3 {
        margin-top: 3em;
        border-bottom: 3px solid #bbb;
        padding-bottom: 0.25em;
        font-size: 26px;
        margin-bottom: 0.5em;
      }
      .technologies {
        font-style: italic;
        margin-top: 0;
        font-size: 14px;
      }
      .time-span {
        position: absolute;
        top: 0;
        right: 0;
      }
      .item {
        position: relative;
        border-bottom: 1px solid #ddd;
        margin-bottom: 1em;
      }
      .homepage {
        font-size: 14px;
      }
      .personal-info {
        margin-top: 20px;
        float: right;
        text-align: right;
      }
    </style>
  </head>
  <body>
    <h1><%= name %></h1>
    <div class="personal-info">
      <%= email %></br>
      <%= location %></br>
      <a href="<%= homepage %>"><%= homepage %></a>
    </div>
    <div style="clear:both;"></div>
    <% groups.each do |group| %>
      <div class="group">
        <h3> <%= group.name %> </h3>
        <% group.items.each do |item| %>
          <div class="item">
            <b class="title"><%= item.title %></b> 
            <% if item.company %> - <%= item.company %> <% end %>
            <% if item.homepage %>
              <span class="homepage">
              (<a href="<%= item.homepage %>"><%= item.homepage %></a>)
              </span>
            <% end %>
            <% if item.technologies %>
              <p class="technologies">
                <%= item.technologies %>
              </p>
            <% end %>
            <p><%= item.description %></p>
            <div class="time-span">
              <%= item.start_date %>
              <% if item.end_date %> - <%= item.end_date %> <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </body>
</html>


