<html>
  <head>
    <title>CV</title>
    <style>
      @media screen {
        body {
          padding: 0 10% 5em;
        }
      }
      body {
        color: #333;
        font-family: helvetica;
      }
      h1, h2, h3, .title {
        color: #000;
        font-family: helvetica;
      }
      h1 {
        float: left;
        font-size: 50px;
        margin-top: 20px;
      }
      h3 {
        border-bottom: 3px solid #bbb;
        font-size: 26px;
        margin-top: 3em 0 0.25em 0;
      }
      .technologies {
        font-size: 14px;
        font-style: italic;
        margin-top: 0;
      }
      .time-span {
        position: absolute;
        right: 0;
        top: 0;
      }
      .item {
        border-bottom: 1px solid #ddd;
        margin-bottom: 1em;
        position: relative;
      }
      .homepage {
        font-size: 14px;
      }
      .personal-info {
        float: right;
        margin-top: 20px;
        text-align: right;
      }
    </style>
  </head>
  <body>
    <h1><%= name %></h1>
    <div class="personal-info">
      <% if email %><%= email %></br><% end %>
      <% if location %><%= location %></br><% end %>
      <% if address %><%= address %></br><% end %>
      <% if homepage %><a href="<%= homepage %>"><%= homepage %></a><% end %>
    </div>
    <div style="clear:both;"></div>

    <% groups.each do |group| %>
      <div class="group">
        <h3> <%= group.name %> </h3>
        <% group.items.each do |item| %>
          <div class="item">
            <b class="title"><%= item.title %></b> 
            <% if item.company %> - <%= item.company %> <% end %>
            <% if item.homepage %>
              <span class="homepage">
              (<a href="<%= item.homepage %>"><%= item.homepage %></a>)
              </span>
            <% end %>
            <% if item.technologies %>
              <p class="technologies">
                <%= item.technologies %>
              </p>
            <% end %>
            <p><%= item.description %></p>
            <% if item.bulletins %>
              <ul>
                <% item.bulletins.each do |bulletin| %>
                  <li><%= bulletin %></li>
                <% end %>
              </ul>
            <% end %>
            <div class="time-span">
              <%= item.start_date %>
              <% if item.end_date %> - <%= item.end_date %> <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </body>
</html>


